.footer {
    padding: 20px 0;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul li {
    display: inline;
    margin-right: 10px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer .fa-brands {
    color: white;
}

header{
    width: 100%;
}

.nav-selection{
    color: #1098F7;
}

.grayscale-opacity {
    filter: grayscale(60%);
}

.background-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.diagonal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, transparent 50%, #212529 50%);
    z-index: 1;
}

.image-contact-view {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.background-general-color{
    background-color: #F4F5F6;
}

.contact-link {
    font-family: 'Oxygen', sans-serif !important; 
    color: white !important; 
    text-decoration: none !important; 
    gap: 10px;
}

.custom-p {
    color: #FFFFFF;
}

.custom-a {
    color: #1098F7;
}

.custom-p, .custom-a {
    font-size: 24px; 
    font-weight: bold; 
}

.icon-container:hover .icon-contact {
    color: #1098F7; 
}

.icon-base{
    color: white;
}

.icon-base:hover{
    color: #1098F7;
}

.contact-title{
    font-size: 3.5em;
    font-weight: bold; 
    color: white;
}

.text-about{
    color:#F4F5F6;
    padding: 50px;
}

body{
    font-family: 'Oxygen', sans-serif;
}

h1{
    font-weight: 700;
}

h3{
    font-weight: 500;
}

h4{
    font-weight: 400;
}

.card-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #F4F5F6;
}

.card{
    height: auto; 
    padding: 7px;
    border: none;
}

.card img{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 7px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.list-titles {
    font-weight: 700; 
    color: #1098F7;
}

.active > .page-link {
    background-color: #1098F7;
}

.page-link {
    color:#1098F7;
}