{% extends 'core/base.html' %}
{% load static %}
{% block title%}About{% endblock%}
{% block content %}
    <div class="row g-5 custom-background max-height: 100vh">
        <div class="col-lg-6 d-flex align-items-center">
            <div class="d-flex flex-column justify-content-center">
                <h1>Pablo Germán Antúnez</h1>
                <h3>University Technician In Web Development</h3>
                <p>Hi there, thank you for visiting my site. Born in Buenos Aires, Argentina, I'm a graduate from the National University of La Matanza, specializing in web development. Passionate about lifelong learning, I'm also an avid sports enthusiast.</p>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="{% static profile_image %}" class="img-fluid rounded-circle" style="max-width: 55%; border: 2px solid #fff;" alt="Pablo Antúnez">
            {% comment %} <img class="img-fluid rounded" src="{% static profile_image %}" alt="Pablo Antúnez"> {% endcomment %}
        </div>
    </div>
{% endblock%}

