{% extends 'core/base.html' %}
{% load static %}
{% block title%}About{% endblock%}
{% block content %}
    <div class="row g-2 bg-dark min-vh-100">
        <div class="col-lg-6 d-flex align-items-center">
            <div class="d-flex flex-column justify-content-center ml-3 text-about">
                <h1>Hi there, I'm <span style="color:#1098F7">Pablo Germán Antúnez</span></h1>
                <h3>University Technician In Web Development</h3>
                <p>Thank you for visiting my site. I am a student of the University Technician in Web Development program at the National University of La Matanza. I consider myself a passionate individual driven by learning, personal growth, and development. In my free time, I enjoy researching and learning about new technologies. Additionally, I am an avid sports enthusiast.</p>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center bg-dark">
            <img src="{% static profile_image %}" class="img-fluid rounded" style="max-width:800px" alt="Pablo Antúnez">
        </div>
    </div>
{% endblock%}


