{% extends 'core/base.html' %}
{% load static %}
{% block contact_content%}

<div class="position-relative" style="height: 81vh;">
    <div class="background-image-container">
        <img src="{% static contact_image_view %}" class="img-fluid grayscale-opacity" style="width: 100%; height: 100%; object-fit: cover; object-position: center;" alt="Image Contact View">
        <div class="diagonal-overlay"></div>
    </div>
    <div class="container position-absolute top-50 start-50 translate-middle" style="transform: translate(-50%, -50%); z-index: 2;">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center d-flex flex-column justify-content-center align-items-center">
                <h1 class="contact-title">Contact Me</h1>
            </div>
            <div class="col-md-6 text-center d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="elemento fa-lg d-flex flex-column flex-md-row align-items-start">
                                <div class="icon-container">
                                    <a class="contact-link d-flex align-items-center">
                                        <i class="fas fa-envelope mr-md-2 fa-2x fa-flip icon-contact" style="--fa-animation-duration: 3s;"></i>
                                        <span class="icon-contact">pablooantunez@gmail.com</span>
                                    </a>
                                </div>
                            </div>
                            <div class="elemento fa-lg d-flex flex-column flex-md-row align-items-start">
                                <div class="icon-container">
                                    <a class="contact-link d-flex align-items-center">
                                        <i class="fas fa-phone-square mr-md-2 fa-2x fa-flip icon-contact" style="--fa-animation-duration: 3s;"></i>
                                        <span class="icon-contact">(+54) 11-5619-2552</span>
                                    </a>
                                </div>
                            </div>
                            <div class="elemento fa-lg d-flex flex-column flex-md-row align-items-start">
                                <div class="icon-container">
                                    <a href="#" class="contact-link d-flex align-items-center">
                                        <i class="fab fa-linkedin mr-md-2 fa-2x fa-flip icon-contact" style="--fa-animation-duration: 3s;"></i>
                                        <span class="icon-contact">https://www.linkedin.com/in/pabloantunez/</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
