{% extends 'core/base.html' %}
{% load static %}

{% block title%}
Home
{% endblock%}

{% block image%}
<section class="image-section">
    <img src="{% static image_root %}" alt="Front image" style="width: 100%;max-height: 500px; display: block;">
</section>
{% endblock%}

{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card mb-4 position-relative">
                <img src="{% static about_image %}" alt="About Me" class="card-img-top rounded-3 grayscale-opacity">
                <div class="card-title-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <a href=# class="text-white">About Me</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card mb-4 position-relative">
                <img src="{% static portfolio_image %}" alt="Portfolio" class="card-img-top rounded-3 grayscale-opacity">
                <div class="card-title-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <a href=# class="text-white">Portfolio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card mb-4 position-relative">
                <img src="{% static certifications_image %}" alt="Certifications" class="card-img-top rounded-3 grayscale-opacity">
                <div class="card-title-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <a href=# class="text-white">Certifications</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card mb-4 position-relative">
                <img src="{% static contact_image %}" alt="Contact" class="card-img-top rounded-3 grayscale-opacity">
                <div class="card-title-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <a href=# class="text-white">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}